/*!
 * Roots 6.5.2
 */

@import "bootstrap/bootstrap.less";
@import "site-variables.less";
@import "custom-mixins.less";


/* ==========================================================================
   Base
   ========================================================================== */

body {
  font-family: 'Lato', Georgia, serif;
}

h {
   &1, &2, &3, &4, &5, &6 {
     font-family: 'Oswald', Verdana, Helvetica, sans-serif;
   }
}





a{
   color: @primary-color;
}

.btn-primary{
   .gradient(@primary-color, @secondary-color);
}

/* ==========================================================================
   Header
   ========================================================================== */

.navbar-top {
   .navbar-brand{
      background-image: url( '../img/granitech-logo.svg' );
      background-size: 100px;
      background-repeat: no-repeat;
      text-indent: -9999px;
      width: 140px;
      height: 45px;
      padding: 0;
      margin: 10px 0;
   }
   .navbar-nav{
      font-size: 1.2em;
      float: right;
   }
}

.masthead{
   max-height: 200px;
   overflow: hidden;
   img.header-image{
      width: 100%;
      height: auto;
      // display: block;
      // margin: 1em auto;
   }
}

.navbar-secondary{
   border-radius: 0;
   .gradient(@primary-color, @secondary-color);
   font-size: 1.4em;
   a{
      color: whitesmoke;
      &:hover{
         color: @dark-accent;
      }
   }
}


/* ==========================================================================
   Content
   ========================================================================== */

.content { }



/* ==========================================================================
   Primary Content
   ========================================================================== */

.main {
   .hentry{
         clear: both;
         padding-bottom: 1em;
         margin-bottom: 2em;
         border-bottom: 1px solid @light-accent;
      }
}

/* Gallery Shortcode */
.gallery-row { padding: 15px 0; }

.featured-image{
   img{
      max-width: 100%;
      height: auto;
   }
}

.entry-summary{
   // font-size: 1.4em;
}

.taxonomy-terms{
   margin: 0 0 1em 0;
   padding: 0;

   li{
      background: @secondary-color;
      padding: 5px 10px;
      margin-right: 10px;
      display: inline;
      // box-shadow: 1px 1px 3px @light-accent;
      a{
         // text-transform: uppercase;
         color: @off-white;
         // &:before{
         //    margin-right: 5px;
         //    font-size: 6px;
         // }
      }
   }
}

/* ==========================================================================
   Sidebar
   ========================================================================== */

.sidebar { }



/* ==========================================================================
   Posts
   ========================================================================== */

.hentry header { }
.hentry time { }
.hentry .byline { }
.hentry .entry-content { }
.hentry footer { }



/* ==========================================================================
   Footer
   ========================================================================== */

.content-info { }



/* ==========================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */

.aligncenter { display: block; margin: 0 auto; }
.alignleft { float: left; }
.alignright { float: right; }
figure.alignnone { margin-left: 0; margin-right: 0; }



/* ==========================================================================
   Media Queries
   ========================================================================== */

@media (min-width: @screen-sm-min) { }

@media (min-width: @screen-md-min) { }

@media (min-width: @screen-lg-min) { }
